Flask==3.0.1
Flask_Cors==4.0.0
metapub==0.5.5
pandas==2.2.0
pycountry==23.12.11
PyPDF2==3.0.1
pysftp==0.2.9
Requests==2.31.0
setuptools==68.2.2
spacy==3.7.2
streamlit==1.30.0
Werkzeug==3.0.1
PyMuPDF
fastapi
